<h1 class="pageTitle">Edit student</h1>

<%= form_for @student do |f| %>
<div class="field">
<%= f.label :name %><br/>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :gpa, "GPA (0.0 - 4.3)" %><br/>
<%= f.number_field :gpa, step: 0.1 %>
</div>

<div class="field">
<%= f.label :weight, "Weight (100lb - 400lb)" %><br/>
<%= f.number_field :weight %>
</div>

<div class="field">
<%= f.label :height, "Height (135cm-225cm)" %><br/>
<%= f.number_field :height %>
</div>

<div class="field">
<%= f.radio_button :color, '#add8e6'%>
<span class="colorLabelBlue"><%= f.label :color, 'blue'%>
<%= f.radio_button :color, '#ffb6c1'%>
<span class="colorLabelPink"><%= f.label :color, 'pink'%>
<%= f.radio_button :color, '#FFFFA5'%>
<span class="colorLabelYellow"><%= f.label :color, 'yellow'%>
<%= f.radio_button :color, '#FDFDFD'%>
<span class="colorLabelWhite"><%= f.label :color, 'white'%></span>
</div>

<div class="action">
<%= f.submit "Update" %>
</div>
<% end %>
