<ul>
  <li><%= link_to "NEW STUDENT", new_student_path %></li>
</ul>
<% @students.each do |s| %>
<div class="student" style="height:<%=s.height%>px;
  width:<%=s.weight%>px; border-color: <%=s.color%>">
  <p class="info">
  <%=s.name.titleize%><br/>
  <%=s.gpa%>
  </p>
  <p class ="link">
  <%= link_to "Edit", edit_student_path(s) %>
  <%= link_to "Destroy", s, method: :delete %>
  </p>
</div>
<% end %>
