
<% @students.each do |s| %>
<div class="student" style="height:<%=s.height%>px;
  width:<%=s.weight%>px; background-color: <%=s.color%>;">
  <div class="info">
    <%=s.name.titleize%><br/>
    GPA: <%=s.gpa%>
  </div>
  <span class ="link">
    <%= link_to "Edit", edit_student_path(s) %>
    <%= link_to "Destroy", s, method: :delete %>
  </span>
</div>
<% end %>

<!-- sends ruby data to javascript.coffee -->
<%= content_tag "div", id: "students", data: {students: Student.all} do %>
<%end%>
