
<div class="formPageWrapper">
<div class="formPageBG">
<h1 class="pageTitle">Create a new student</h1>

<%= form_for @student, html: {autocomplete: "off"} do |f| %>
<div class="field">
<%= f.label :name %><br/>
<%= f.text_field :name, maxlength: 18 %>
</div>

<div class="field">
<%= f.label :gpa, "GPA (0.0 - 4.3)" %><br/>
<%= f.number_field :gpa, step: 0.1 %>
</div>

<div class="field">
<%= f.label :weight, "Weight (100lb - 400lb)" %><br/>
<%= f.number_field :weight %>
</div>

<div class="field">
<%= f.label :height, "Height (135cm-225cm)" %><br/>
<%= f.number_field :height %>
</div>

<div class="field">
<%= f.radio_button :color, '#ADD8E6', onClick: "changeColor('#ADD8E6')"%>
<span class="colorLabelBlue" id="colorLabel"><%= f.label :color, 'Blue'%></span>
<%= f.radio_button :color, '#FFB6C1', onClick: "changeColor('#FFB6C1')"%>
<span class="colorLabelPink" id="colorLabel"><%= f.label :color, 'Pink'%></span>
<%= f.radio_button :color, '#FFFFA5', onClick: "changeColor('#FFFFA5')"%>
<span class="colorLabelYellow" id="colorLabel"><%= f.label :color, 'Yellow'%></span>
<%= f.radio_button :color, '#FDFDFD', onClick: "changeColor('#FDFDFD')"%>
<span class="colorLabelWhite" id="colorLabel"><%= f.label :color, 'White'%></span>
</div>

<div class="action">
<%= f.submit "Create" %>
</div>
<% end %>
</div>
</div>
