<h1>Create a new student</h1>

<%= form_for @student do |f| %>
<div class="field">
<%= f.label :name %><br/>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :weight %><br/>
<%= f.number_field :weight %>
</div>

<div class="field">
<%= f.label :height %><br/>
<%= f.number_field :height %>
</div>

<div class="field">
<%= f.label :color %><br/>
<%= f.color_field :color %>
</div>

<div class="field">
<%= f.label :gpa %><br/>
<%= f.number_field :gpa %>
</div>

<div class="actions">
<%= f.submit "Create" %>
</div>
<% end %>
